@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm keyframe cho animation thông báo */
@keyframes fadeInRight {
    from { 
      opacity: 0; 
      transform: translateX(20px); 
    }
    to { 
      opacity: 1; 
      transform: translateX(0); 
    }
}